a#content
|     
h1 Content
p 1. 新手必备技能
p 2. Koa入门
p 3. Node.js with es6 && es7
p 4. 调试与测试(最小化问题)
p 5. 常见npm模块学习
p 6. http with koa
p 7. Koa解析
p 8. 异步流程控制
p 9. 了解db相关操作，先以mongoose为主
p 10. Nodejs微信开发项目实战
p 11. 自己动手写npm模块
p 12. 从0开始写一个基于Koa的web框架
p 13. 更多实践
p 附录
|     
br
|     
p
  | As a member  pbased space, Prototype is only open when a Prototyper is around. But we 
  strong do
  |  host events, meetups and other social events, so keep an eye on our 
  a(href='https://www.facebook.com/prototypehq') Facebook page
  | , or get in touch with us at 
  a(href='mailto:hello@prototype.land') hello@prototype.land