a#content
|     
h1 Content
|     
p
  | Prototype became a reality when a coffee shop in Vesterbro, Copenhagen shut down. Within a few hours, a group of entrepreneurs founded Prototype - a non-profit space for hackers, designers, troublemakers and other disrupters.
|     
br
|     
p
  | We run Prototype as our member-based coffee bar for meet-ups, casual work and events. Here we hang out, build and execute upon ideas and projects.
|     
br
|     
p
  | As a member-based space, Prototype is only open when a Prototyper is around. But we 
  strong do
  |  host events, meetups and other social events, so keep an eye on our 
  a(href='https://www.facebook.com/prototypehq') Facebook page
  | , or get in touch with us at 
  a(href='mailto:hello@prototype.land') hello@prototype.land