ul
  li
    img.img-circle(src='./assets/images/icon2.png', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
    |     
    h2 特色
    |     
    p
      | 1）性能更好的Node4和新鲜的es6语法
      | 2）深入浅出下一代web框架Koa框架 
      | 3）异步流程控制新方案（generator && async），解决回调问题
      | 4）海量模块，开发简单、高效，站在巨人的肩膀上
    |     
    p
      a.btn.btn-default(href='#', role='button') View details &raquo;
  // /.col-lg-4
  li
    img.img-circle(src='./assets/images/icon6.png', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
    |     
    h2 生态
    |     
    p
      | 1）npm有25.6万个模块，模块开发容易
      | 2）测试相关 tdd/bdd/测试覆盖率、
      | 3）更多选择：es语法（babel）、typescript
      | 4）构建相关 gulp、grunt、webpack，大量插件、生成器 yo && slug等
      | 5）规范化 standard、各种lint、hint
    |     
    p
      a.btn.btn-default(href='#', role='button') View details &raquo;
  // /.col-lg-4
  li
    img.img-circle(src='./assets/images/icon3.png', data-src='holder.js/140x140', alt='140x140', style='width: 140px; height: 140px;')
    |     
    h2 得失
    |     
    p
      | 1）性能已经不是绝对优势了，但依然有提高 
      | 2）callback hell有了非常好的解决方案，不再那么复杂、讨厌了
    |     
    p
      a.btn.btn-default(href='#', role='button') View details &raquo;
  // /.col-lg-4
