input#nav-trigger.nav-trigger(type='checkbox')
|     
label(for='nav-trigger')
|     
nav
  ul
    li
      a(href='#home') 介绍
    |             
    li
      a(href='#feature') 特色
    |    
    li
      a(href='#content') 目录
    |             
    li
      a(href='#partners') 小伙伴
    |             
    li
      a(href='#timeline') 进度
    |             
    li
      a(href='#contact') 联系我