a#partners
h1 Partners  
p #{ JSON.stringify(description) }
ul
  li
    div
      a(href='https://twitter.com/boetter')
        img(src='./assets/images/i5ting.JPG')
        |                     
        span
          h3 桑世龙（i5ting）
          |                         
          p
            | 空弦科技 CTO，StuQ 明星讲师，开源项目 Moajs 作者，Node.js 技术布道者.
  |     
  |         
  li
    div
      a(href='http://www.firestarters.com')
        img(src='./assets/images/IMG_1679.jpg')
        |                     
        span
          h3 李永贺
          |                         
          p
            | 吉林大学计算机技术在读研究生
  |     
  |                        
  li
    div
      img(src='./assets/images/pingping.jpg')
      |                     
      span
        h3 李平平
        |                         
        p
          | 运营，主要负责运营、推广、社群相关内容
  |     
  |         