a#partners
h1 Partners  
ul
  li
    div
      a(href='https://twitter.com/boetter')
        img(src='./assets/images/boetter.jpg')
        |                     
        span
          h3 桑世龙（i5ting）
          |                         
          p
            | &frac13; product, &frac13; design, &frac13; code. I only do prototypes, life is too short to do perfect stuff. Founder of companies. Author of books.
  |     
  |         
  li
    div
      a(href='http://www.firestarters.com')
        img(src='./assets/images/tony.jpg')
        |                     
        span
          h3 李永贺
          |                         
          p
            | I do explosively real prototypes with details so small, that you&apos;ll feel them before you see them. Let&apos;s go out for a molotov cocktail sometime. #firestarters
  |     
  |         
  li
    div
      img(src='./assets/images/tobias.jpg')
      |                     
      span
        h3 赵兴越
        |                         
        p
          | Mobile Advisor @nodesdk Skriver om tech, web, startups, social media, apps, mobile, Br&oslash;ndby - og alt muligt andet.
  |     
  |         
  li
    div
      img(src='//www.gravatar.com/avatar/08fae512a504cea3eb427e962a59a52e.png?s=512&d=404')
      |                     
      span
        h3 马文能
        |                         
        p CTO, PM and co-founder @ Opbeat.
  |     
  |         
  li
    div
      img(src='./assets/images/anders.jpg')
      |                     
      span
        h3 梁琦
        |                         
        p Business and Community Developer, WEF Global Shaper.
  |     
  |         
  li
    div
      img(src='./assets/images/jakob.jpg')
      |                     
      span
        h3 刘各欢
        |                         
        p
  |     
  |         
  li
    div
      img(src='./assets/images/david.jpg')
      |                     
      span
        h3 成亚欣
        |                         
        p
          | [Your ad here.] Interaction Designer. Dreaming about changing the world through immersive, interactive installations.
  |     
  |         
  li
    div
      img(src='./assets/images/simon.jpg')
      |                     
      span
        h3 李平平
        |                         
        p
          | Social entrepreneur and heavy metal fan, co-founder of Buddhabikes, Cykelven and Donkey Republic.
  |     
  |         