.container
  .timeline.timeline-alternating.timeline-collapsing.timeline-with-arrows.blue-red-red
    .timeline-block
      .timeline-icon.timeline-icon-hide-border
        i.fa.fa-bell-o.fa-lg(style='color:#c23b22')
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        h2 0.2.1 released
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        ul
          li
            | Added arrow support (
            code .timeline-with-arrows
            | )
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Icons and images supported as timeline icons
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Fixes to positioning
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .timeline-date 2015-01-12
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block.timeline-block-icon-only
      .timeline-icon.timeline-icon-text.timeline-icon-hide-border
        span This is my important text
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block
      .timeline-icon.timeline-icon-hide-border
        i.fa.fa-github.fa-lg(style='color:#c23b22')
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        p
          | Pushed up to 
          a(href='https://github.com/andriussev/timelined') GitHub
          | .
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .timeline-date 2015-01-11
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block
      .timeline-icon
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        h2 The start
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p From idea to execution.
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .timeline-date 2015-01-10
