.container
  .timeline.timeline-alternating.timeline-collapsing.timeline-with-arrows.blue-red-red
    .timeline-block
      .timeline-icon.timeline-icon-hide-border
        i.fa.fa-bell-o.fa-lg(style='color:#c23b22')
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        h2 0.1.0 released（计划）
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p 初稿整理完成
        .timeline-date 2016-05-01
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block.timeline-block-icon-only
      .timeline-icon.timeline-icon-text.timeline-icon-hide-border
        span 发布
          a(href='http://nodeonly.com/stack/' target='_blank')《Node.js最新Web技术栈（2016年4月）》
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block
      .timeline-icon.timeline-icon-hide-border
        i.fa.fa-github.fa-lg(style='color:#c23b22')
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        p
          | 签订出版合同，暂定《更了不起的 Node 4：将下一代 Web 框架 Koa 进行到底》
          | .
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .timeline-date 2016-03-22
    | &#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;
    .timeline-block
      .timeline-icon
      | &#x9;&#x9;&#x9;&#x9;
      .timeline-content
        h2 The start
        p 开始做《一起学Koa》项目，同时博文视点张春雨编辑预订此书的出版权
        .timeline-date 2015-12-15
