a#home
header
  include _nav
section.splash
  .logo    
  .grab
section.intro
  h1
    | 《更了不起的 Node 4：将下一代 Web 框架 Koa 进行到底》
  .place
section.intro
  a#feature
  |     
  h1 Features
  | 
  include _intro
section.content
    include _content
section.partners 
  include _partners
section.location
  a#timeline
  |     
  h1 Timeline
  | 
  include _timeline
//   .map
//     iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2250.295121997658!2d12.545926999999997!3d55.666467999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652539dea55cc79%3A0x1bc6c910afbbc8aa!2sPrototype!5e0!3m2!1sen!2sth!4v1425018584686', width='100%', height='500', frameborder='0', style='border:0')
section.contact
  a#contact
  |     
  h1 Contact
  p 桑世龙（网名i5ting），空弦科技 CTO，StuQ明星讲师，开源项目 Moajs 作者，Node.js 技术布道者
  p 曾就职在新浪、网秦，曾做过前端、后端、数据分析、移动端负责人、做过首席架构师、技术总监，全栈技术实践者，目前主要关注技术架构和团队梯队建设方向。
  br
  br
  img(src='./assets/images/sang.jpg' width='230px' height='300px')
  br
  br
  p
    | Interested this? Feel free to contact one of the members, or get in touch with 
    a(href='mailto:shiren1118@126.com') i5ting.

  p
    br
    br
    include _back
